body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-grow: 2;
    flex-shrink: 2;

}
#header{
    
   background-image: url(./newrockpaperscissors.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    height: 250px;
    width: 900px;
    
    
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rock{

    background-color: salmon;
    height: 50px;
    width: 100px;
    margin:20px;
    padding:10px;
}
#paper{
    background-color: rgb(33, 189, 189);
    height: 50px;
    width: 100px;
    margin:20px;
    padding: 10px;
}
#scissors{
    background-color: rgb(230, 180, 74);
    height: 50px;
    width: 100px;
    margin: 20px;
    padding: 10px;
    
    
}

p{
    font-size: 30px;
    
    display: flex;
    justify-content: center;
    align-content: center;

}

#scorecard{
    background-color: salmon;
    color: rgb(36, 36, 36);
    width: 200px;
    height: 100px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

#userLabel{
    font-size: 20px;
}
#compLabel{
    font-size: 20px;
}


